body {
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

#answers div {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#answers div:hover {
    background-color: #f0f0f0;
}

#submitBtn, #nextQuestionBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#result {
    font-size: 16px;
    margin-bottom: 20px;
}
